<template>
  <require from="toastr/build/toastr.min.css"></require>

  <div class="container">
    <h1>${heading}</h1>

    <form submit.trigger="shortenUrl()">
      <label for="originalUrl">Url to be shortened</label>
      <div class="row">
        <input id="originalUrl" type="text" value.bind="originalUrl" placeholder="https://www.notarius.com" class="nine columns">
        <button type="submit" disabled.bind="!originalUrl" class="button-primary three columns">Shorten URL</button>
      </div>
      <div show.bind="originalUrlResponse != ''" 
              style="display: block;color: #155724; padding: .75rem 1.25rem;; background-color: #d4edda;border-color: #c3e6cb; margin-bottom: 1rem; border: 1px solid transparent; border-radius: .25rem;">
              ${originalUrlResponse}</div>
    </form>

    <form submit.trigger="revealUrl()">
      <label for="shortUrl">Reveal original URL</label>
      <div class="row">
        <input id="shortUrl" type="text" value.bind="shortUrl" placeholder="url to be revealed" class="nine columns">
        <button type="submit" disabled.bind="!shortUrl" class="button-primary three columns">Reveal URL</button>
      </div>
      <div show.bind="shortUrlResponse != ''" 
              style="display: block;color: #155724; padding: .75rem 1.25rem; word-wrap: break-word; background-color: #d4edda;border-color: #c3e6cb; margin-bottom: 1rem; border: 1px solid transparent; border-radius: .25rem;">
              ${shortUrlResponse}</div>
    </form>
    
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Shortened Url</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="url of urls">
          <td>${url.shortUrl}</td>
          <td><button click.trigger="delete(url)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</template>
